# Project information
site_name: Thinking In Code
site_url: https://www.ktyhub.com
site_author: ktyhub
site_description: knowledge thinking you want to know

site_dir: site

theme:
  name: material
  language: zh
  # Static files
  static_templates:
    - 404.html

  # Don't include MkDocs' JavaScript
  include_search_page: false
  search_index_only: false
  features:
    # - announce.dismiss
    - content.code.annotate
    # - content.tabs.link
    - content.tooltips
    # - header.autohide
    # - navigation.expand
#    - navigation.indexes
    # - navigation.instant
    - navigation.instant
    - navigation.instant.progress
    - navigation.tracking
    - navigation.tabs
    - navigation.top
    # - navigation.prune
#    - navigation.sections
#    - navigation.tabs
    # - navigation.tabs.sticky
#    - navigation.top
#    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
#    - toc.follow
    # - toc.integrate
  palette:
    - scheme: default
      primary: white
      accent: white
      toggle:
        icon: material/brightness-7
        name: 切换到夜间阅读模式
    - scheme: slate
      primary: black
      accent: black
      toggle:
        icon: material/brightness-4
        name: 切换到白天阅读模式
  font:
    text: Noto Sans Traditional Chinese
    code: Noto Sans Traditional Chinese


extra:
  alternate:
    - name: 中文
      link: /zh/
      lang: zh
#    - name: English
#      link: /en/
#      lang: en

extra_css:
  - stylesheets/extra.css
  - mermaid.css


extra_javascript:
  - javascripts/extra.js
  - mermaid.min.js

# Extensions
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  # - pymdownx.emoji:
  #     emoji_index: !!python/name:materialx.emoji.twemoji
  #     emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.keys
  # - pymdownx.magiclink:
  #     repo_url_shorthand: true
  #     user: squidfunk
  #     repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - markdown_include.include
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
# Copyright
copyright: Copyright &copy; 2022 - 2024 ktyhub.com copyright 转载请注明网站来源

# Plugins
#plugins:
#  - search:
#      separator: '[\s\u200b\-]'
#  - redirects:

# Page tree
nav:
  - 技术博客:
#    - 前言:
##      # [icon: material/book-open-outline]
#      - 首页: zh/chapter_preface/index.md
#      - 0.1 &nbsp; 关于本书: chapter_preface/about_the_book.md
#      - 0.2 &nbsp; 如何使用本书: chapter_preface/suggestions.md
#      - 0.3 &nbsp; 小结: chapter_preface/summary.md
    - ShardingSphere ElasticJob:
      -  分布式弹性调度系统的简介:  zh/chapter_elasticjob/introduce.md
  - 读书笔记:
    - 书籍推荐:
#      # [icon: material/calculator-variant-outline]
      - 首页:  zh/chapter_netty/index.md
